.speaker-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

    .speaker-avatar {
        margin: 0 0 10px 0;
        height: 90px;

        img {
            border: 4px solid #F5AF33;
            border-radius: 50%;
            height: 90px;
            width: auto;
        }
    }

    .speaker-company {
        font-size: 1em;
        font-style: italic;
    }

    .speaker-name {
        font-size: 1.3em;
    }

    .speaker-flag {
        margin-top: 5px;

        img {
            height: 24px;
            width: auto;
        }
    }

    .speaker-bio {
        margin: 0 30px;
        text-align: justify;
    }

    .speaker-links {
        a {
            text-decoration: none;

            img {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
    
            .mat-icon {
                cursor: pointer;
                color: black;
            }
        }
    }

    .speaker-talks {
        margin-top: 20px;

        .mat-table {
            .mat-header-row {
                .mat-column-type {
                    max-width: 80px;
                }
            }

            .mat-row {
                cursor: pointer;
    
                &:hover {
                    background: rgba(0, 0, 0, .04);
                }

                .mat-cell {
                    text-align: left;

                    &.mat-column-type {
                        max-width: 80px;
                    }
                }
            }
        }

    }

    .mat-divider {
        border-top-color: #F5AF33;
        margin: 10px 30px;
    }
}
