<div class="speaker-detail" *ngIf="speaker">
    <div class="speaker-avatar">
        <img *ngIf="speaker.avatarURL === null" src="/assets/default_black.png" [alt]="speaker.lastName">
        <img *ngIf="speaker.avatarURL !== null" [src]="speaker.avatarURL" [alt]="speaker.lastName" (error)="errorHandler($event)">
    </div>

    <div class="speaker-name">
        {{speaker.firstName}} {{speaker.lastName}}
    </div>

    <div class="speaker-company">
        {{speaker.company}}
    </div>

    <div class="speaker-flag">
        <img matTooltip="{{ speaker.lang }}" src="{{ env.flags[speaker.lang] }}" />
    </div>

    <mat-divider></mat-divider>

    <div class="speaker-bio" [innerHtml]="speaker.bioAsHtml"></div>

    <mat-divider></mat-divider>

    <div class="speaker-links">
        <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank" *ngIf="speaker.twitter">
            <img src="assets/twitter.png" [alt]="speaker.twitter">
        </a>
        <a href="{{ speaker.blog }}" target="_blank" *ngIf="speaker.blog">
            <mat-icon matListIcon>link</mat-icon>
        </a>

    </div>

    <div class="speaker-talks">
        <mat-table [dataSource]="talksData" matSort>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <i class="material-icons" matTooltip="{{row.talkType}}">{{env.icons[row.talkType]}}</i>
                    <span> {{row.talkType}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <img matTooltip="{{row.lang}}" src="{{env.flags[row.lang]}}" /> {{row.title}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/talks/{{row.id}}">
            </mat-row>
        </mat-table>
    </div>
</div>

<div *ngIf="!speaker">
    <app-spinner></app-spinner>
</div>
