<div class="schedule" *ngIf="schedule">
    <mat-tab-group>
        <mat-tab label="Mercredi" *ngIf="schedule">
            <app-schedule-periode *ngFor="let periode of schedule.wednesday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!schedule.wednesday">
                <app-spinner></app-spinner>
            </div>
        </mat-tab>
        <mat-tab label="Jeudi">
            <app-schedule-periode *ngFor="let periode of schedule.thursday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!schedule.thursday">
                <app-spinner></app-spinner>
            </div>
        </mat-tab>
        <mat-tab label="Vendredi">
            <app-schedule-periode *ngFor="let periode of schedule.friday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!schedule.friday">
                <app-spinner></app-spinner>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div *ngIf="!schedule">
    <app-spinner></app-spinner>
</div>
