.speakers-list {
    .header {
        display: flex;
        flex-direction: column;
        padding: 5px 30px 0 30px;
        position: fixed;
        width: calc(100% - 300px);
        height: 60px;
        background: #F5AF33;

        &.isMobile {
            width: calc(100% - 60px);
        }

        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }
    }
    
    .container {
        min-height: 64px;
        padding-top: 65px;

        .mat-table {
            overflow: auto;

            .mat-row {
                .mat-cell {
                    &.mat-column-avatar {
                        padding-top: 3px;
                    }

                    img {
                        height: 24px;
                        width: 24px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
                } 
            }
        }

        .mat-paginator {
            position: fixed;
            bottom: 0;
            width: calc(100% - 240px);
        }
    }

}
