<div class="bookmark" *ngIf="bookmark">
    <mat-tab-group>
        <mat-tab label="Mercredi">
            <app-schedule-periode *ngFor="let periode of bookmark.wednesday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!isBookmarkResolved">
                <app-spinner></app-spinner>
            </div>
            <div class="no-bookmarks" *ngIf="!bookmark.wednesday && isBookmarkResolved">
                Vous n'avez pas de bookmark pour ce jour.
            </div>
        </mat-tab>
        <mat-tab label="Jeudi">
            <app-schedule-periode *ngFor="let periode of bookmark.thursday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!isBookmarkResolved">
                <app-spinner></app-spinner>
            </div>
            <div class="no-bookmarks" *ngIf="!bookmark.thursday && isBookmarkResolved">
                Vous n'avez pas de bookmark pour ce jour.
            </div>
        </mat-tab>
        <mat-tab label="Vendredi">
            <app-schedule-periode *ngFor="let periode of bookmark.friday" [periode]="periode"></app-schedule-periode>
            <div *ngIf="!isBookmarkResolved">
                <app-spinner></app-spinner>
            </div>
            <div class="no-bookmarks" *ngIf="!bookmark.friday && isBookmarkResolved">
                Vous n'avez pas de bookmark pour ce jour.
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div *ngIf="!bookmark">
    <app-spinner></app-spinner>
</div>
