.bookmark {
    padding: 0 20px;
    margin-top: 20px; 
    
    // TODO remove /deep/ because depracated
    /deep/ .mat-tab-header {
        margin-bottom: 20px;
    }
    
    .mat-tab-label {
        flex: 1;
    }
    
    .no-bookmarks {
        text-align: center;
    }
}
