<div id="about">
  <p>Bienvenue !</p>
  <p>
    Vous êtes sur une application codée par des étudiants de 
    <a href="http://www.polytech.u-psud.fr/fr/index.html">Polytech' Paris-Sud</a> 
    dans le cadre de la matière "Algorithmes pour le Web".
  </p>

  <p>
    L'idée du projet est de créer une Progressive Web App. Nous avons donc
    choisis de créer une application autour de 
    <a href="https://cfp.devoxx.fr/api">l'API de la Devoxx</a> 
     de <a href="https://twitter.com/nmartignole">Nicolas Martignole</a>. 
    Vous pouvez donc utiliser cette application pour :
  </p>

  <ul>
    <li>Consulter le planning des 3 jours ainsi que le détails des évenements</li>
    <li>Bookmarker les conférences que vous ne voulez pas louper et les retrouver dans un planning dédié (en cache sur votre appareil)</li>
    <li>Consulter la liste des intervenants</li>
  </ul>

  <p>
    ... Et le tout même sans internet (merci les services-workers). N'hésitez pas installer 
    l'application sur votre téléphone (si votre navigateur vous le propose) afin de faciliter 
    vos 3 jours à la Devoxx ;)
  </p>

  <p>
    Pour finir, n'hésitez pas à nous faire un retour sur cette application ou même contribuer
    via son <a href="https://gitlab.com/omnisnash/app5-web-projet">dépôt Gitlab</a>. On est très intéréssés par vos remarques !
  </p>

  <p>L'équipe:</p>

  <ul>
    <li>Thomas Cottin</li>
    <li>Clément Garin</li>
    <li>Léo Donny</li>
  </ul>
</div>