<div id="about">
    <h2>Cékoissa ?</h2>
    <p>
        C'est une application développée par trois apprentis ingénieurs en informatique en dernière année à
        <a href="http://www.polytech.u-psud.fr/fr/index.html">Polytech' Paris-Sud</a>
        dans le cadre de la matière "Algorithmes pour le Web".
    </p>
    <p>
        L'idée du projet est de créer une Progressive Web App (le futur, toussa toussa) un tant soit peu utile. Nous avons donc décidé
        de créer une application autour de
        <a href="https://cfp.devoxx.fr/api">l'API de la Devoxx</a>
        de
        <a href="https://twitter.com/nmartignole">Nicolas Martignole</a>, puisque l'un d'entre nous va y participer.
    </p>

    <p>
        Au niveau technos, l'application est construite autour du framework Angular, ainsi que Material Angular pour la partie graphique
        (histoire de ne pas faire comme tout le monde).
    </p>

    <h2>Un petit coup de main ?</h2>
    <p>
        L'application s'adresse à des gens qui auront certainement un mot à dire. Dans l'optique de monter en compétence
        nous serons ravi d'écouter vos retours !
    </p>

    <p>
        Pour information, nous avons développé l'application par intermittence sur deux semaines, du coup il reste encore pas mal
        de choses à faire ! (notamment sur l'architecture du code).
    </p>

    <h2>@authors</h2>

    <p>L'équipe derière ce petit projet :</p>

    <ul>
        <li>
            <a href="https://twitter.com/ThomasCottin">Thomas Cottin</a>
        </li>
        <li>
            <a href="https://twitter.com/omnisnash">Clément Garin</a>
        </li>
        <li>
            <a href="https://twitter.com/LeoDonny_">Léo Donny</a>
        </li>
    </ul>

    <h2>Remerciements</h2>

    <p>Enfin on conclut cette page par des remerciements :</p>

    <ul>
        <li>A notre professeur,
            <a href="https://twitter.com/AmiraultTony">Tony Amirault</a>, pour ses bons conseils, son encadrement et sa dynamique !</li>
        <li>Et à
            <a href="https://twitter.com/nmartignole">Nicolas Martignole</a> pour la disponibilité de l'API :)</li>
    </ul>
</div>

<div class="about">

</div>
