<div class="talks-list">
    <div class="header mat-elevation-z2" [class.isMobile]="mobileQuery.matches">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
        </mat-form-field>
    </div>

    <div class="container mat-elevation-z2" [class.isMobile]="mobileQuery.matches">

        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let row"> [icon] </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lang">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Langue </mat-header-cell>
                <mat-cell *matCellDef="let row"> [flag] </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/talks/{{row.id}}">
            </mat-row>
        </mat-table>

        <mat-paginator *ngIf="!mobileQuery.matches" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>
</div>
