<div class="talks-list">
    <div class="header mat-elevation-z2" [class.isMobile]="mobileQuery.matches">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
        </mat-form-field>
    </div>

    <div class="container mat-elevation-z2" [class.isMobile]="mobileQuery.matches">

        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <i class="material-icons" matTooltip="{{ row.talk.talkType }}">{{ env.icons[row.talk.talkType] }}</i>
                    <span> {{row.talk.talkType}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <img matTooltip="{{ row.talk.lang }}" src="{{ env.flags[row.talk.lang] }}"/> {{row.talk.title}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/talks/{{row.talk.id}}">
            </mat-row>
        </mat-table>

        <mat-paginator *ngIf="!mobileQuery.matches" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>
</div>

<div *ngIf="!talksData">
    <app-spinner></app-spinner>
</div>