.talks-list {
    .header {
        display: flex;
        flex-direction: column;
        padding: 5px 30px 0 30px;
        position: fixed;
        width: calc(100% - 300px);
        height: 60px;
        background: #F5AF33;

        &.isMobile {
            width: calc(100% - 60px);
        }

        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }
    }
    
    $mobile-size: 600px;

    .container {
        min-height: 64px;
        padding-top: 65px;

        .mat-table {
            overflow: auto;

            .mat-header-row {
                .mat-column-type {
                    max-width: 100px;

                    @media screen and (min-width: $mobile-size) {
                        max-width: 140px;
                    }
                }

                .mat-colum-title {
                    @media screen and (min-width: $mobile-size) {
                        padding-left: 20px;
                    }
                }
            }

            .mat-row {
                cursor: pointer;
                padding: 4px 24px;

                &:hover {
                    background: rgba(0, 0, 0, .04);
                }
                
                .mat-cell {
                    &.mat-column-type {
                        max-width: 100px;
                        font-size: 0.8em;

                        i {
                            display: inline-flex;
                            vertical-align: middle;
                            padding-bottom: 3px;
                            font-size: 1em;
                        }

                        @media screen and (min-width: $mobile-size) {
                            font-size: 1em;
                            max-width: 140px;
                        }
                    }

                    &.mat-column-title {
                        img {
                            height: 12px;
                            display: inline-flex;
                            vertical-align: middle;
                            padding-bottom: 2px;
                            margin-right: 4px;
                        }

                        @media screen and (min-width: $mobile-size) {
                            font-size: 1em;
                            height: 24x;
                            padding-left: 20px;

                            img {
                                padding-bottom: 3px;
                            }
                        }
                    }
                }
            }
        }

        .mat-paginator {
            position: fixed;
            bottom: 0;
            width: calc(100% - 240px);
            background: #F5AF33;
        }
    }
}