$mobile-size: 600px;

.home {
    .logo {
        height: 150px;
        width: 100%;
        background: black;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        border-bottom: solid 2px #F5AF33;

        img {
            height: 100%;
            flex: 1;
    
        }

        @media screen and (min-width: $mobile-size) {
            height: 250px;
        }
    }

    .infos {
        margin: 20px 30px;

        .title {
            font-weight: bold;
            text-align: center;
            font-size: 24px;
        }
    
        .subtitle {
            text-align: center;
            font-size: 16px;
        }
    }

    .features-list {
        margin: 40px 40px 20px 40px;

        @media screen and (min-width: $mobile-size) {
            width: 60%;
            margin: 100px auto;
        }

        .feature {
            display: flex;
            flex-direction: row;
            margin: 15px 0;

            .mat-icon {
                font-size: 36px;
                flex: 1;
                text-align: center;
            }

            span {
                flex: 3;
                font-size: 0.9em;
            }
        }
    }

    .mat-raised-button {
        width: 40%;
        margin: 0 30%;
        background: #F5AF33;
        
        .mat-button-wrapper {
            color: white;
        }
    }
}
