#home {
    padding: 0 20px;
    margin-top: 20px;
}

.info {
    background: #eeeeee;
    border-left: 4px #F5AF33 solid;
    padding: 8px;
    margin: 10px 0;
}

a, a:visited {
    color: #33b4ff;
    text-decoration: none;
}

.more {
    padding-top: 12px;
    display: inline-block;
}
