<div class="schedule-talk" *ngIf="talk" >
    <mat-card>
        <div routerLink="/talks/{{talk.id}}">
            <mat-card-subtitle>
                <span>{{talk.title}}</span>
            </mat-card-subtitle>

            <mat-divider></mat-divider>

            <div class="speakers">
                <div class="speaker" *ngFor="let speaker of talk.speakers | slice:0:3">
                    <span>{{speaker.identity}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
        </div>

        <!-- <div class="tags">
            <mat-chip-list>
                <mat-chip *ngFor="let word of talk.track">{{word}}</mat-chip>
            </mat-chip-list>
        </div> -->

        <div class="footer">
            <div class="type">[{{talk.lang}}] {{talk.talkType}}</div>
            <div class="fav" (click)="bookmarkTalk(talk.id);">
                <mat-icon *ngIf="favorited">star</mat-icon>
                <mat-icon *ngIf="!favorited">star_bordered</mat-icon>
            </div>
        </div>

    </mat-card>
</div>
