<div class="schedule-periode" *ngIf="periode">
    <mat-card>
        <mat-card-subtitle>
            {{periode.time}}
        </mat-card-subtitle>
    </mat-card>

    <div class="talks">
        <div *ngFor="let event of periode.events">
            <app-schedule-talk *ngIf="event.talk" [talk]="event.talk"></app-schedule-talk>
        </div>
    </div>

    <div class="breaks">
        <div *ngFor="let event of periode.events">
            <app-schedule-break *ngIf="event.break" [event]="event"></app-schedule-break>
        </div>
    </div>

</div>
