<div class="talk-detail">
    <div class="talk-title">
        {{talk.title}}
    </div>

    <mat-divider></mat-divider>
    <div class="talk-infos">
        [{{talk.lang}}] [{{talk.talkType}}]
    </div>

    <div class="talk-track">
        {{talk.track}}
    </div>

    <div class="talk-summary">
        {{talk.summary}}
    </div>

    <mat-divider></mat-divider>

    <div class="talk-speakers">
        <mat-table [dataSource]="talk.speakers" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Speaker </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/speakers/{{row.id}}"> -->
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </div>
</div>