<div class="talk-detail" *ngIf="event">
    <div class="talk-title">
        {{event.talk.title}}
    </div>

    <div class="talk-maininfos">
        <div class="time">
            <i class="material-icons">access_time</i>
            <span>{{event.fromTime}} - {{event.toTime}}</span>
        </div>

        <div class="room">
            <i class="material-icons">room</i>
            <span>{{event.room.name}}</span>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="talk-infos">
        <img matTooltip="{{ event.talk.lang }}" src="{{ env.flags[event.talk.lang] }}" />
    </div>

    <div class="talk-type">
        <i class="material-icons" matTooltip="{{ event.talk.talkType }}">{{ env.icons[event.talk.talkType] }}</i>
        <span>{{event.talk.talkType}}</span>
    </div>

    <div class="talk-track">
        {{event.talk.track}}
    </div>

    <div class="talk-summary">
        {{event.talk.summary}}
    </div>

    <mat-divider></mat-divider>

    <div class="talk-speakers">
        <mat-table [dataSource]="event.talk.speakers" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Speaker </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.identity}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/speakers/{{row.id}}">
            </mat-row>
        </mat-table>
    </div>
</div>

<div *ngIf="!event">
    <app-spinner></app-spinner>
</div>
